.header-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
    background: #ccc;
    width: 100%;
}
.header{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header a{
    text-decoration: none;
    font-weight: 500;
}
